<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/yboost.css">
    <title>Générateur de citation</title>
</head>
<body>
    <h1>PREPROD Bienvenue dans le générateur de citation ! </h1>
    <div class="search-bar">
    <form action="/" method="GET">
        <input type="text" name="search" class="input-search" placeholder="Rechercher un auteur...">
        <button type="submit" class="btn-search">Rechercher</button>
    </form>
        </div>

    <div class="magic-section">
        <button type="button" id="api-btn" class="btn-magic">générer une pépite</button>
        <a href="/random" class="btn-random">Citation au hasard</a>
    </div>

    <div class="filters">
        <a href='/'> Toutes </a>
        <a href="/?cat=motivation"> Motivation </a>
        <a href="/?cat=confiance"> Confiance </a>
        <a href="/?cat=amitié"> Amitié </a>
        <a href="/?cat=amour"> Amour </a>
        <a href="/?cat=sagesse"> Sagesse </a>
        <a href="/?cat=humour"> Humour </a>
    </div>
  
    <div class="quotes-container">
        {{range .}}
        <div class="card">
            <a href="/delete?id={{.ID}}" class="delete-btn" onclick="return confirm('Supprimer cette pépite ?')">&times;</a>
            <button class="copy-btn" onclick="copyQuote('{{.Text}}')">copier</button>
            <p class="quote-text">"{{.Text}}"</p>
            <p class="quote-author">— {{.Author}}</p>
            <span class="quote-category">{{.Category}}</span>
    </div>
        {{else}}
        <p class="empty-msg">Aucune citation dans cette catégorie. Ajoutez-en une !</p>
        {{end}}
    </div>

    <form action="/add" method="POST">
        <h3>Ajouter une nouvelle pépite</h3>
        <input type="text" name="text" placeholder="La citation..." required>
        <input type="text" name="author" placeholder="L'auteur..." required>
        <select name="category">
            <option value="motivation">Motivation</option>
            <option value="amour">Amour</option>
            <option value="confiance">Confiance</option>
            <option value="amitié">Amitié</option> 
            <option value="sagesse">Sagesse</option>
            <option value="humour">Humour</option>
        </select>
        <button type="submit">Enregistrer dans la base</button>
    </form>
<script>
document.getElementById('api-btn').addEventListener('click', function() {
    const btn = this;
    const inputQuote = document.querySelector('input[name="text"]');
    const inputAuthor = document.querySelector('input[name="author"]');
    
    btn.innerText = "Recherche en cours...";

    fetch('https://api.adviceslip.com/advice')
        .then(response => response.json())
        .then(data => {
            inputQuote.value = data.slip.advice;
            inputAuthor.value = "Sagesse du Web"; 
            
            btn.innerText = "Citation générée !";
            setTimeout(() => { btn.innerText = "Générer une autre pépite"; }, 2000);
        })
        .catch(err => {
            console.error("Erreur détaillée:", err);
            btn.innerText = "Erreur (Vérifie ta connexion)";
        });
});
function copyQuote(text) {
    navigator.clipboard.writeText(text);
    
    const btn = event.target;
    const originalText = btn.innerHTML;
    
    btn.innerHTML = "✅ Copié !";
    btn.style.borderColor = "#17c033"; 
    
    setTimeout(() => {
        btn.innerHTML = originalText;
        btn.style.borderColor = ""; 
    }, 2000);
}
</script>
</body>
</html>